body.col-lg-12{
  padding: 0
}

body{
  background-color: #f8f8f8;
}

@font-face {
  font-family: pianocube_font;
  src: url(./fonts/BlindMelon.ttf);
}
main.col-lg-12{
  padding: 0;
  background-color: white;
}

li{
  display: inline-block;
}

#guihub-logo{
  width: 50px;
}

#guihub-title{
  color: #333333;
}

#blurb {
    margin-top: 5%;
}

#profile-card{
  margin-top: 5%;
}

#profile-pic{
  width: 60%;
  border-radius: 3%;
}

#profile-text{
  font-size: 1.5em;
  margin-top: 5%;
}

.fa{
  font-size: 2em;
  color: #333333;
}

a:hover {
  text-decoration: none;
}

#about-home {
  color: #FFFFFF;
  border-style: solid;
  border-width: 3px;
  border-color: #333333;
  border-radius: 3px;
  font-size: 2em;
  padding: 5px;

}
#about{
  text-align: center;
}

.image{
  padding: 0;
}
.logo-container{
  height: 90px;
}
.logo-in-container {
   height: 200px;
}

.location-xp{
  font-size: 1em;
}

#projects img{
  height: 200px;
  margin-top: 30px;
}

h1{
  color: #f5f5f5;
  margin-top: 0;
}

.thumbnail{
  padding: 0;
}

.navbar, .navbar-inverse {
  border-radius: 0;
  border: none;
  margin-bottom: 0;
  min-height: 80px;
}

.nav li {
  display: inline;
  color: white;
}

.navbar-inverse .navbar-nav > li > a {
  color: #333333;
  font-family: Lato;
  font-size: 1.7em;
  font-weight: 300;
  padding: 30px 25px 33px 25px;
}

.navbar-inverse .navbar-nav li a:hover {
  background-color: #F5F5F5;
  transition: 0.7s all linear;
  height: 100%;
}

.navbar-inverse .navbar-nav>li>a:focus, .navbar-inverse .navbar-nav>li>a:hover {
  color: #4078C1;
}

.navbar-default .navbar-nav > li > a:hover, .navbar-default .navbar-nav > li > a:focus {
    background-color: #333;
    color: #F5F5F5;
}
.navbar-inverse{
  background-color: #F5F5F5
}

.navbar-header {
    text-align: center;
}

.modal-body{
  text-align: center;
}

.navbar-inverse .navbar-toggle .icon-bar {
    background-color: #231F20;
}

.navbar-inverse .navbar-toggle .icon-bar {
    background-color: #231F20;
}


h4.modal-title{
  text-align: center;

}

.language-thumbnail{
  height: 60px;
  width: 100%;
  margin-bottom: 10px;
}

.language-type{
  padding: 0;
  text-align: left;
}

#tech-skills{
  text-align: center;
}

#front-end-skills, #background, .job-list{
  padding: 0;
  margin-top: 25px;
}

#back-end-skills{
  padding: 0;
  margin-top: 50px;
}

#front-end-languages, #back-end-languages{
    margin-top: 15px;
}

.thumbnail-icon{
  padding: 0;
  margin-right: 5%;
}

#blurb, #tech-skills {
    border-bottom-style: solid;
    border-bottom-width: 1px;
    border-spacing: 10px;
    border-bottom-color: black;
}

.language-type{
  text-align: center;
}

.p-text{
  font-size: 1.25em;
}

#apps{
  height: 90vh;
  padding: 0;
}

.showcase{
  height: 90vh;
  padding: 0;
}

.app-presentation{
  height: 60vh;
  padding: 0;
  text-align: center;
  background-color: #ffffff;
}

h5{
  font-size: 3em
}

.app-title{
  font-size: 12em;
  margin-top: 10%;
  text-align: center;
}

.app-container{
  padding: 0;
}

.link-box{
  font-size: 1.5em;
  background-color: #333333;
  color: #ffffff;
  border-radius: 10px;
  padding-top: 10px;
  padding-bottom: 10px;
}


#piano-showcase{
  background-color: #9AE4F0;
}

#pianocube-title{
  font-family: pianocube_font;
}

#pianocube-phone{
  margin-top: 10%;
}

#uply-showcase {
  background-color: #120079;
}

#uply-title{
  font-family: 'Cabin', sans-serif;
  color: white;
}

#trivia-showcase {
    background-color: #65C28E;
}

span.roll {
  background:url(../pictures/icons/mag.png) center center no-repeat #000;
  height: 200px;
  position: absolute;
  z-index: 10;  
  -webkit-box-shadow: 0px 0px 4px #000;
  -moz-box-shadow: 0px 0px 4px  #000;
  box-shadow: 0px 0px 4px  #000; 
  padding: 0;
  margin-top: 30px;
}

@media screen and (max-width: 767px) {
    .app-title {
        font-size: 6em;
    }
    .thumbnail-icon{
      margin-right: 0%;
      margin-bottom: 5%;
    }
    #introduction{
      height: 50vh;
    }
}

/* sm */
@media screen and (min-width: 768px) {
    .app-title {
        font-size: 4em;
    }
    .thumbnail-icon{
      margin-right: 0%;
      margin-bottom: 5%;
    }
    #introduction{
      height: 50vh;
    }
}

/* md */
@media screen and (min-width: 992px) {
    .app-title {
        font-size: 9em;
    }
    .thumbnail-icon{
      margin-right: 0%;
      margin-bottom: 5%;
    }
}

/* lg */
@media screen and (min-width: 1200px) {
    .app-title {
        font-size: 12em;
    }
    .thumbnail-icon{
      margin-right: 5%;
    }
}
