body.col-lg-12{
  padding: 0
}

main{
  padding: 0;
}

li{
  display: inline-block;
}

#home{
  background-image: url('../IMG_4389.JPG');
  background-size: 100%;
  height: 768px;
  background-repeat: no-repeat;
}