html {
  height: 100%;
}

#hello {
  margin: 0;
  padding: 0;
  background: #000000 url(./css/globe/loading.gif) center center no-repeat;
  color: #ffffff;
  font-family: sans-serif;
  font-size: 13px;
  line-height: 20px;
  height: 100%;
}


#ce span {
  display: none;
}

#ce {
  width: 107px;
  height: 55px;
  display: block;
  position: absolute;
  bottom: 15px;
  left: 20px;
  background: url(/globe/ce.png);
}

#container{
  height: 90vh;
  padding: 0;
}

#introduction{
  background-color: black;
  height: 90vh;
}

.text{
  text-align: center;
  margin-top: 25%;
  color: white
}

canvas{
  width: 100%
}

#hello{
  padding: 0
}